<?php

require_once __DIR__.'/vendor/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;
use Doctrine\Common\Annotations\AnnotationRegistry;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\\Tests'                 => __DIR__.'/vendor/symfony/tests',
    'Symfony'                        => __DIR__.'/vendor/symfony/src',
    'Doctrine\\Common'               => __DIR__.'/vendor/doctrine-common/lib',
    'Doctrine\\DBAL'                 => __DIR__.'/vendor/doctrine-dbal/lib',
    'Doctrine'                       => __DIR__.'/vendor/doctrine/lib',
    'Doctrine\\Common\\DataFixtures' => __DIR__.'/vendor/doctrine-fixtures/lib',
));
$loader->registerPrefixes(array(
    'Twig_' => __DIR__.'/vendor/twig/lib',
));

if (!function_exists('intl_get_error_code')) {
    require_once __DIR__.'/vendor/symfony/src/Symfony/Component/Locale/Resources/stubs/functions.php';

    $loader->registerPrefixFallbacks(array(__DIR__.'/vendor/symfony/src/Symfony/Component/Locale/Resources/stubs'));
}
$loader->register();

AnnotationRegistry::registerLoader(function($class) use ($loader) {
    $loader->loadClass($class);
    return class_exists($class, false);
});
AnnotationRegistry::registerFile(__DIR__.'/vendor/doctrine/lib/Doctrine/ORM/Mapping/Driver/DoctrineAnnotations.php');

// Swiftmailer needs a special autoloader to allow
// the lazy loading of the init file (which is expensive)
require_once __DIR__.'/vendor/swiftmailer/lib/classes/Swift.php';
Swift::registerAutoload(__DIR__.'/vendor/swiftmailer/lib/swift_init.php');

spl_autoload_register(function($class) {
    $class = ltrim($class, '\\');
    if (0 === strpos($class, 'Lexik\Bundle\MailerBundle\\')) {
        $file = __DIR__.'/'.str_replace('\\', '/', substr($class, strlen('Lexik\Bundle\MailerBundle\\'))).'.php';
        if (file_exists($file)) {
            require $file;
        }
    }
});