body {
    position: relative;
    padding-top: 50px;
}

#mailer_layout_translation_body,
#mailer_email_translation_body,
#mailer_email_translation_bodyText,
#mailer_email_translation_subject {
    width: 80%;
}
